bidict
lightning-bolts
pandas
ipython
ipykernel
jupyter
objsize
yellowbrick
nvidia-ml-py3  # (import pynvml) track GPU usage within python
pylint
black
flake8
torchviz
transformers
tokenizers
torchview
torchdata